* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    display: grid;
    grid-template-rows: 56px 1fr auto;
    height: 100vh;
    margin: 0;
    overflow-y: initial;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;
    height: 56px;
    color: #ffffff;
    background-color: #ff0038;
    font-size: 1.25em;
}

header img {
    width: 46px;
    height: 46px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

header button {
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #ff0038;
    font-weight: 700;
    font-size: 16px;
    width: 85px;
    height: 35px;
}

header button:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 80% 20%;
}

footer {
    height: auto;
    background-color: #cc002e;
}

@media (max-width: 600px) {
    header ul {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 80% auto;
    }
}
