* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;
    height: 56px;
    color: #ffffff;
    background-color: #ff0038;
    font-size: 1.25em;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: 48px;
    height: auto;
}

header ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

header button {
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #ff0038;
    font-weight: 700;
    font-size: 16px;
    width: 85px;
    height: 35px;
}

header button:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

/* MAIN */
main {
    flex: 1;
    background-color: #f2f2f2;
    min-height: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

footer {
    height: auto;
    background-color: #ff0038;
    color: white;
    text-align: center;
    width: 100%;
    padding: 2px;
    flex-shrink: 0;
}

@media (max-width: 600px) {
    header ul {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 80% auto;
    }
}
