main {
    width: 900px;
    height: 550px;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr 1.4fr;
    border-radius: 12px;

    user-select: none;
    box-shadow: 0px 4px 12px 2px gray;
}

/* DADOS PESSOAIS */
main #perfil {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 20px;
}

/* Header */
#perfil > h1 {
    color: #b53636;
}
#perfil > h1,
#perfil > p {
    align-self: self-start;
}

/* RESUMO */
#perfil #resumo {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
    margin: auto 0;
}
#resumo img {
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
#resumo p {
    color: #b53636;
    background-color: #b536362a;
    font-weight: 800;
    padding: 4px 12px;
    border-radius: 20px;
    cursor: pointer;
}

/* FORMATAÇÕES GERAIS */
/* Estrutura: DADOS PESSOAIS - CONTATO */
#perfil #dados-pessoais,
#geral #contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
}

/* Todos os Labels */
#dados-pessoais .nome-completo label,
.lado-esquerdo div label,
.lado-direito div label,
.lado-esquerdo label,
.lado-direito label {
    font-weight: 700;
    margin: 10px 0 2px 0;
    display: block;
}

/* Todos os Inputs */
#dados-pessoais .nome-completo input,
.lado-esquerdo div input,
.lado-esquerdo div select,
.lado-direito div input,
.lado-esquerdo input,
.lado-direito input {
    font-weight: 700;
    font-size: 16px;

    width: 100%;
    height: 36px;

    border-radius: 4px;
    padding-left: 12px;
    padding-right: 10px;
    outline: none;
    border: 2px solid #9f9f9f;
}

/* Todos os .títulos-sessao */
#dados-pessoais .titulo-sessao,
#geral .titulo-sessao {
    font-size: 20px;
    color: #b53636;
    border-bottom: 2px solid #9f9f9f79;
}

#dados-pessoais .titulo-sessao,
#dados-pessoais .nome-completo {
    grid-column: 1/3;
}

/* INPUTS NÃO ALTERÁVEIS PELO USUÁRIO */
#dados-pessoais .definitivo {
    color: #808080;
    background: #8080801a;
    pointer-events: none;
}
/* =============================== */

/* GERAL */
main #geral {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;

    border-radius: 0 12px 12px 0;
    background: #f1f1f1;
}

/* Título Sessão */
#contato h2 {
    grid-column: 1/3;
}

/* Acesso e Segurança */
#seguranca p {
    margin: 8px 0;
}

#seguranca .titulo-sessao {
    margin-top: 18px;
}

#seguranca button {
    color: #b53636;
    font-size: 20px;
    font-weight: 700;

    padding: 4px 10px;
    border-radius: 6px;
    border: 2px solid #b53636;
    background: #ffffff;

    cursor: pointer;
}

#seguranca button:hover {
    background: #b5363610;
}

/* BOTÕES */
#botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: auto;
}
#botoes button {
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    height: 40px;

    cursor: pointer;
}

/* Salvar */
#geral #salvar {
    background: #b53636;
    color: #ffffff;
    border: none;
}
#geral #salvar:hover {
    background: #942c2c;
}

/* Cancelar */
#geral #cancelar {
    background: #ffffff;
}
#geral #cancelar:hover {
    background: #f1f1f1;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        width: calc(100% - 40px);
        height: auto;

        margin: 30px 20px;
    }

    #geral #seguranca {
        height: auto;
    }

    #geral #botoes {
        margin-top: 60px;
    }

    #dados-pessoais {
        width: 100%;
    }
}

@media (max-width: 640px) {
    #dados-pessoais .lado-esquerdo,
    #dados-pessoais .lado-direito {
        grid-column: 1/3;
    }

    #geral #contato .lado-esquerdo,
    #geral #contato .lado-direito {
        grid-column: 1/3;
    }
    #geral #botoes {
        grid-template-columns: 1fr;
    }
}
