/* MAIN - HERO ---------------------------------------------------------------------------------------------------*/
main {
    position: relative;
}

.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    min-height: calc(100vh - 140px);
    z-index: 2;
}

/* TEXTOS DO LADO ESQURDO */
.hero-text {
    width: 50%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    justify-content: center;
}

.hero-text h1 {
    font-size: 3.2rem;
    color: #b53636;
    font-weight: 700;
}

.hero-text p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #3a3333;
    margin-bottom: 7em;
}

.hero-text h2 {
    font-size: 2.5rem;
    margin-top: 20px;
    color: #222;
}

.btn-doar {
    background: #b53636;
    color: #f7f4f4;
    padding: 14px 30px;
    border-radius: 6px;
    width: 20rem;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

/* IMAGEM DO DOADOR */

.hero-img {
    position: absolute;
    right: 35%;
    bottom: 0;
}

.hero-img img {
    width: 450px;
    display: block;
    max-width: 45vw;
}

/* CARDS */

.hero-cards {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 30%;
    justify-content: center;
}

.hero-cards .card {
    background: #b53636;
    padding-left: 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #f7f4f4;
    overflow: hidden;
    min-height: 110px;
    position: relative;
    transition: transform 0.3s ease;
}

.hero-cards .card:hover {
    transform: scale(1.02);
}

.hero-cards .card img {
    width: 100px;
    height: 100%;
    padding: 10px;
    background-color: #f2f2f2f2;
    object-fit: contain;
    flex-shrink: 0;
    position: relative;
    border-radius: 26px;
}

.hero-cards .card p {
    font-size: 1.1rem;
    line-height: 1.3;
    padding: 15px 25px 15px 15px;
    flex: 1;
    position: relative;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
    /* === ELEMENTOS OCULTOS === */
    nav li {
        display: none;
    }
    .hero-img {
        display: none;
    }
    br {
        display: none;
    }

    /* === HERO === */
    /*hero-text*/
    section.hero {
        display: flex;
        flex-direction: column;
        padding: 32px 32px;
        width: 100%;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 120px;
    }

    .hero-text h2 {
        text-align: center;
    }
    a.btn-doar {
        font-size: 40px;
        align-self: center;
    }

    /* hero-cards */
    .hero-cards {
        width: 100%;
        gap: 12px;
    }
    .cards {
        transition: 0;
    }
}
