/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: "Urbanist", sans-serif;
    background-color: #F7F4F4;
}

/* HEADER TEMPLATE  */

header {
    width: 100%;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b53636;
    top: 0;
    position: sticky;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 22px;
    font-weight: 500;
}

header nav a {
    text-decoration: none;
    color: #F2F2F2;
}

header .logo-semfundo {
    width: 45px;
}

/* MAIN - HERO */


/* FOOTER */

footer {
  background: #3A3333;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  gap: 10px;
}


footer .gov-sp {
    height: 25px;
}