/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    font-family: "Urbanist", sans-serif;
    background-color: #f7f4f4;
}

header nav a {
    position: relative;
}

header nav ul li.nav-selecionado {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 0.5px;
}

header nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #f2f2f2;
    transition: width 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

header {
    max-width: 100%;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b53636;
    top: 0;
}
header .btn-entrar {
    color: #f7f4f4;
    padding: 10px 15px;
    border: 2px solid #8e2a2a;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
}

/* Parte do perfil (se tiver login) */
#userPerfil {
    display: flex;
    color: #f7f4f4;
    gap: 10px;
}


/* PERFIL LOGADO */
#userPerfil {
    display: flex;
    margin: auto 0;
}

#userPerfil p {
    color: #ffffff;
}

/* foto */
.perfil-foto {
    border-radius: 50%;
    height: 20px;
}

#userPerfil a {
    text-decoration: none;
}


/*MENU BURGUER */
#menu-burguer {
    display: none;
    position: relative;
}

#menu-faketrigger {
    display: none;
}

/* ÍCONE */
#menu-lines {
    width: 35px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1100;
    position: relative;
}

#menu-lines span {
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s ease;
}

/* === ANIMAÇÃO VIRANDO X === */
#menu-faketrigger:checked + #menu-lines span:nth-child(1) {
    transform: translateY(12px) rotate(50deg);
}

#menu-faketrigger:checked + #menu-lines span:nth-child(2) {
    opacity: 0;
}

#menu-faketrigger:checked + #menu-lines span:nth-child(3) {
    transform: translateY(-10px) rotate(-50deg);
}

/* ===== PAINEL LATERAL ===== */

.menu-mobile {
    position: absolute;
    top: 50px;
    right: 0;
    background: #b53636;
    list-style: none;
    padding: 15px;
    border-radius: 8px;
    transition: right 0.3s ease;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
    display: none;
}

.menu-mobile li {
    display: flex;
    justify-content: flex-end;
}

.menu-mobile a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin-left: auto;
}

/* QUANDO CHECK = TRUE → ABRE O MENU */
#menu-faketrigger:checked ~ .menu-mobile {
    display: flex;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 22px;
    font-weight: 500;
}

header nav a {
    text-decoration: none;
    color: #f2f2f2;
}

header .logo-semfundo {
    width: 45px;
}

footer {
    background: #3a3333;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    gap: 10px;
}

footer .gov-sp {
    height: 25px;
}

/*  === MOBILE === */
@media (max-width: 768px) {
    nav {
        display: none;
    }

    html,
    body {
        overflow: auto;
        padding: 0;
    }

    header {
        max-width: 100%;
    }

    #menu-burguer {
        display: block;
    }
    .btn-entrar,
    #userPerfil {
        margin-left: auto;
        margin-right: 12px;
    }

    #userPerfil {align-self: flex-end;
        margin-left: auto;
    }
    .menu-mobile {
        right: 0;
        left: auto;
        max-width: 70vw;
        overflow-x: hidden;
    }


}
