main {
    background: #f2f2f2;
    display: flex;
    min-height: 80vh;
}

/* LADO ESQUERDO */
#conteudo {
    padding: 10px;
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
    position: relative;
}

#texto-destaque {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    grid-area: 1/1/21/21;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    background: white;
    padding: 40px;
}

#texto-destaque h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: #ff0038;
}

#texto-destaque p {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.4;
}

#texto-destaque p span {
    font-size: 24px;
    font-style: italic;
}

#conteudo button {
    font-size: 24px;
    border-radius: 32px;
    grid-area: 7/1/9/6;
    padding: 10px;
    margin-left: 35px;
    background: #ff0038;
    border: 1px solid #000;
    color: white;
}

#conteudo button:hover {
    background: #f10034;
    cursor: pointer;
}

#conteudo img {
    width: 115%;
    height: auto;
    grid-area: 10/14/21/21; 
    position: relative;
    align-self: end;
    justify-self: end; 
    top: 7px;
}

/* LADO DIREITO */

#informativo {
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 300px;
    gap: 20px;
    padding: 10px;
    justify-content: space-around;
}

#infoContador,
#infoTransfusao,
#infoTipoSangue {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    min-height: 220px;
}

#bolsaSangue {
    transform: scaleX(-1);
}

#infoContador img,
#infoTransfusao img,
#infoTipoSangue img{
    max-width: 80px;
    height: auto;
}