* {
    box-sizing: border-box;
    padding: 0px;
    margin-right: 0px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

/* CONTAINER */
#pai {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 480px;
    position: relative;
    border-radius: 40px 40px;
    box-shadow: 0 10px 7px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 30px;
}

/* CONTEUDO */
#filho {
    border-radius: 40px;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, #e60026, rgb(150, 22, 50));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 40px;
}

#filho::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -28px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 38px solid #e60026;
}
/* IDENTIDADE VISUAL */
#logo {
    border: 2px solid black;
    width: 100%;
    height: 90px;
}

/* INPUTS */
#inputs {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 36px;
    border: 2px solid black;
}

#inputs label {
    display: flex;
    width: 100%;
}
#inputs label i {
    background-color: white;
    border-radius: 8px 0px 0px 8px;
    border-right: 2px solid #000000;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputs label i svg {
    width: 30px;
    height: 30px;
    border-radius: 8px 0px 0px 8px;
    color: #000000;
}

#inputs label input {
    font-size: 18px;
    width: 220px;
    height: 34px;
    border-radius: 0px 8px 8px 0px;
    border: none;
}

/* CADASTRO */
#tubo {
    position: absolute;
    top: 80%;
    left: 70%;
    width: 40px;
    height: 50px;
    border-radius: 0px 0px 16px;
    border: 16px solid rgb(150, 22, 50);
    border-left: none;
    border-top: none;
}

#tubo::after {
    content: "";
    position: absolute;
    bottom: -8%;
    right: -13%;
    width: 100%;
    height: 108%;
    background: #ffffff;
    border-radius: 0 0 19px 0px;
}

button {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    width: fit-content;
    padding: 10px 20px;
    position: relative;
    border-radius: 8px;
    border: none;
    background-color: rgb(150, 22, 50);
    cursor: pointer;
}
